.container {
  background-color: bisque;
  width: 996px;
  height: 950px;
  margin: auto;
  border: 2px solid black;
}

.header {
  height: 100px;
  background-color: cornflowerblue;
}

.header #logo {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.navBar {
  background-color: darkgoldenrod;
  height: 55px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.sideBar {
  float: left;
  width: 250px;
  height: 791px;
  border-right: 2px solid black;
  background-color: chartreuse;
  display: hidden;
}

.main {
  float: right;
  width: 744px;
  background-color: blue;
  height: 791px;
}

.box {
  border: 3px solid black;
  margin: 15px;
  padding: 10px;
}

.box .china {
  display: block;
  text-align: center;
}

.box .china a img {
  border: 4px solid black;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .sideBar {
    display: none;
  }

  .main {
    width: 1000px;
    height: 500px;
    background-color: blue;
    height: 791px;
  }
}
